* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.maincontents{
display:flex;
flex-direction: column;
}

.blank {
flex: 1 1 auto;
height: auto;
}


.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding-top: 50px;
    flex: auto;
    padding-bottom: 100px;
}

.random {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.pieces {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    max-width: 1200px;
}

.piece {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 200px;
}

.pic {
    border-style: solid;
    border-width: 2px;
    border-color: #3882f6;
    border-radius: 15px;
    width: 180px;
    height: 180px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

}

.quotation {
    font-weight: 300;
    text-align: justify;

}



.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 25px;
    flex: 0;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;

}



.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 60px;
    max-width: 1200px;
    width: 100%;
}

.container-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 550px;
}

.img-placeholder {
    background-color: grey;
    color: #e5e7eb;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.link-bar {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:50px;
    padding-right:50px;
    justify-content: space-between;

}

.link-bar {
    width:100%;
    max-width: 1200px;


}

.links {
    color: #e5e7eb;
    font-size: 18px;
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}



.sign-up1 {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 25px;
    border-style: none;
    border-radius: 5px;
    margin-top: 9px;
    margin-bottom: 10px;

}

.sign-up2 {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 25px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin-top: 10px;
    max-height: 70px;
    align-self: center;
    flex: 0 10 auto;
    
    
}




.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: auto;
    max-width: 1200px;
}

.source {
    align-self: flex-end;
    font-weight: 700;
    font-size: 26px;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.blue-box {
    background-color: #3882f6;
    padding: 50px;
    border-radius: 10px;
    color: white;
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
}

.sign-up{
    margin-right: 10px;
}


.call-bold {
    font-weight: 700;
    font-size: 26px;
}

main {
    flex: 1 1 auto;
}